.form {
    margin: 10px 0px;
}

.form__fieldset {
    width: 100%;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 12px;
    font-size: 16px;
    background-color: #e7efef8a;
}

.form__results {
    text-align: center;
    width: 100%;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 12px;
    font-size: 16px;
    margin: 0px 2px;
    background-color: white;
}

.form__button {
    margin: 0px 2px;
    background-color: #efb9b9;
    width: 100%;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 12px;
    font-size: 16px;
}

.form__button:hover {
    background-color: #fd6969fa;
}

.form__button:active {
    background-color: #f35555fa;
}

.form__currency--hidden {
    display: none;
}

.form__field {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid grey;
}

.form__field--background {
    background-color: #efb9b9;
}

.form__field--background:hover {
    background-color: #fd6969fa;
}

.form__display {
    display: flex;
    justify-content: space-around;
    
}