.buttons {
    display: flex;
    margin: 10px 0;
}

.buttons__button {
    margin: 0;
    background-color: #efb9b9;
    width: 100%;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 12px;
    font-size: 16px;
}

.buttons__button:hover {
    background-color: #fd6969fa;
}

.buttons__button:active {
    background-color: #f35555fa;
}